/* ===== LAYOUT ===== */
main {
    display: flex;
    flex: 1;
}

nav.sidebar {
    width: 220px;
    background: var(--sidebar-bg);
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav.sidebar h3 {
    color: white;
    font-size: 24px;
    font-family: var(--font-main);
    text-align: center;
    margin-bottom: 20px;
}

nav.sidebar a {
    color: white;
    font-size: 16px;
    font-family: var(--font-main);
    padding: 12px 25px;
    text-decoration: none;
    transition: 0.2s;
}

nav.sidebar a:hover,
nav.sidebar a.active {
    background: var(--accent);
}

/* ===== CONTENT ===== */
section.content {
    flex: 1;
    padding: 40px;
}

section.content h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--font-main);
    color: var(--color-text);
}

.content .course-list {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content .course-card {
  margin: 15px 15px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 300px;
  position: relative;
}

.content .inner-course-title {
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  font-family: var(--font-main);
  color: var(--color-text);
}

.content .inner-course-desc {
  font-size: 16px;
  margin: 15px 15px 15px 15px;
  font-family: var(--font-main);
  color: var(--color-text);
}

.content .inner-course-tutor {
  font-size: 14px;
  margin: 0 15px 15px 15px;
  font-family: var(--font-main);
  color: var(--color-text);
}

.content a {
  margin: 0;
  padding:0;
}

.content a {
  text-decoration: none;
  color: inherit;
}

.content .inner-course-access {
  font-size: 12px;
  text-align: center;
  display: inline-block;
}

.content .group-btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.content .group-btn .btn-schedule,
.content .group-btn .btn-add {
  padding: 16px 30px; 
  font-size: 24px;
  font-family: var(--font-main);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.content .group-btn .btn-schedule {
  background-color: #FF6F61; /* Example color for Scheduling button */
}

.content .group-btn .btn-add {
  background-color: #6F2DCF; /* Example color for Add button */
} 