.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.section-one h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: var(--font-main);
    color: var(--color-text);
    text-align: center;
    /* margin-bottom: 24px; */
}

.section-one .group {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.section-one .group .btn-hcmut-account,
.section-one .group .btn-admin-account {
    width: 100%;
    padding: 15px 15px;
    background-color: white;
    color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 8px;
    font-size: 18px;
    font-family: var(--font-main);
    cursor: pointer;
    transition: 0.3s;
}


.section-two form label {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-main);
    color: var(--color-text);
}

.section-two form input {
    width: 100%;
    padding: 12px 15px;
    margin: 0 0 32px 0;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 16px;
    font-family: var(--font-main);
}

.container a {
    margin: 0;
    padding: 0;
}

.section-two .btn-login {
    margin-top: 32px;
    width: 100%;
    padding: 12px 15px;
    background-color: var(--color-main);
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    font-family: var(--font-main);
    cursor: pointer;
    transition: 0.3s;
}